*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#prompt-container{

}
#prompt-boundary{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
}
#grid-container{
    display: flex;
    justify-content: center;
}

#grid-boundary{
    border: 3px solid black;
}
.row-container{
    display: flex;
}
.btn{
    height: 24px;
}